html {
    font-size: 16px;
  
  }
  html, body {
      margin: 0;
      height: 100%;
  }
  body{
    /*
    opacity: 0.5;
    background-image:  url("https://upload.wikimedia.org/wikipedia/en/4/42/Emilio_Aguinaldo_College_seal.svg");
    background-repeat: no-repeat;
    background-size: auto;
    */
  
  }
  .demo-wrap {
    overflow: hidden;
    position: relative;
  }
  
  .demo-bg {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
  
  .demo-content {
    position: relative;
  }
  table {
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, white , #FFE3E5);
    margin-left: auto;
    margin-right: auto;
    
  }
  body{
    z-index: -1;
  }
  button {
    z-index: 1;
    background:    #15d798;
    border-radius: 11px;
    padding:       20px 45px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 26px/1 "Open Sans", sans-serif;
    text-align:    center;
  }
  .demo-content {
    position: relative;
  }
  .centeral{
    text-align: center;
}

  #title{
  
  
  }
  
  .navbar{
    padding: 10 15 10 15 ;
  
  
  }
  
  .lead{
    padding: 0 0 10% 0;
    color: #ADD8E6;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
  
  }
  .display-4{
    padding: 10% 0 5% 0;
    color: #ADD8E6;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  
  }
  .container {
    max-width: 960px;
  }
  
  .pricing-header {
    max-width: 700px;
  }
  
  .card-deck .card {
    min-width: 220px;
  }
  